/* Style Nav*/
nav {
    background-color: #0D0907;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: rgb(221, 206, 206);
    font-size: 20px;
    padding: 4px 8px 4px 8px;
}